$font: 'Roboto', sans-serif;

$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

$green: #53B175;
$white: #FFFFFF;
$white_text: #FCFCFC;
$black: #181725;
$gray: #7C7C7C; 
$gray_3: #B3B3B3;
$border_gray: #E2E2E2;